.simple-container{
    display: flex;
    flex-direction: column; 
    gap: 20px;   
    font-family: "Lexend Deca", sans-serif;
    font-weight: "bold";
    font-style: normal;
    font-size: 20px;
    max-width: 800px;
    color:#181818;
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto dentro do container */
}


.about-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}